<a href="https://colab.research.google.com/github/NagaramTarun/python/blob/main/Day9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**

In [ ]:
def function_name(parameter):
  block of code
  return output

In [1]:
def Area(r):
  area = 3.14*r*r
  return area

In [2]:
Area(r=23)

1661.06

In [5]:
h = Area(r=12)
h

452.15999999999997

In [7]:
type(h)

float

In [8]:
def Area(r):
  area = 3.14*r*r
  print(area)

In [10]:
b = Area(3)
b

28.259999999999998

In [11]:
type(b)

NoneType

In [12]:
#use always return key word for getting statement dont use print because if u use return it also returns the type of the output
#but incase of print it returns Nonetype of type for the type of the output where v cant perform further operations

In [13]:
h+8

460.15999999999997

In [14]:
b+2

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [15]:
def Area_Rec(l,b):
  return l*b

In [16]:
Area_Rec(23,45)

1035

In [18]:
def area(r,l,b):
  return l*b , 3.14*r*r
i,j=area(2,5,6)

In [21]:
i

30

In [22]:
j

12.56

In [23]:
def Area(r,l,b):
  return {'Area of cirlce': l*b ,'Area of rectangle': 3.14*r*r}
Area(2,5,6)

{'Area of cirlce': 30, 'Area of rectangle': 12.56}

In [24]:
def Count(t):
  b= t.lower()
  return b.count('a')

In [25]:
Count('HyderabAAd')

3

In [39]:
def Count_String(a):
  u=0
  g=0
  for i in a:
    if i in ('1','2','3','4','5','6','7','8','9','0'):
      u+=1
    elif i==' ':
      pass
    else:
      g+=1
  return {'digits':u,'alphabets':g}

In [40]:
Count_String('HyderabAAd 500008 Telangana')

{'digits': 6, 'alphabets': 19}

In [41]:
def count_num_alpha(a):
  c=0
  d=0
  for i in a:
    if i.isalpha():
      c+=1
    elif i.isdigit():
      d+=1
  return {'alphabets':c,'digits':d}

In [42]:
 count_num_alpha('HyderabAAd 500008 Telangana')

{'alphabets': 19, 'digits': 6}